
source "behavior/Kconfig"
source "runtime/Kconfig"
source "part/Kconfig"
source "fs/Kconfig"
source "users/Kconfig"
source "net/Kconfig"
source "repos/Kconfig"
source "security/Kconfig"
source "pkg/Kconfig"
source "diag/Kconfig"
source "hw/Kconfig"
source "sys/Kconfig"
source "arch/Kconfig"

