menu "Networking"

config MKQNX_IP
	string "Static IP address or 'dhcp'"
	default "dhcp"
	help
	  Static IP address to use or dhcp to obtain an address using DHCP.


config MKQNX_HOSTNAME
	string "System hostname"
	default ""
	help
	  Hostname for system.

config MKQNX_MACADDR
	string "MAC address (xx:xx:xx:xx:xx:xx)"
	default ""
	help
	  The MAC address for the network interface. You do not usually want
	  to set this option in which case it is set to a randomly chosen
	  value.

config MKQNX_TIME_SERVERS
	string "NTP servers, colon-separated"
	default "pool.ntp.org"
	help
	  Colon-separated list of NTP servers to set time by on boot. This
	  applies only for targets that do not have access to a real-time
	  clock.
	  
	  The default is pool.ntp.org. This may have to be changed to a
	  local server if the target is run on a network that blocks NTP
	  traffic.

endmenu # Networking
